body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.couldbelong {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.couldbelong:hover {
    text-overflow: inherit;
    overflow: visible;
}

.jumbotron {
  background-image: url(images/bodhibelly_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: right;

}

@media (min-width: 900px) {

    .navbar {
        background-image: url(images/bodhibelly_logo_header.png);
        background-repeat: no-repeat;
        background-position-x: left;
    }
}